.disabled-activation {
    background-size: 40px 40px;
    background-image: linear-gradient(
        45deg,
        #e3e3e31f 25%,
        #9999991f 25%,
        #9999991f 50%,
        #e3e3e31f 50%,
        #e3e3e31f 75%,
        #9999991f 75%,
        #9999991f 100%
    );
}
.actions .enabled-activation {
    box-shadow: inset 0 0 3px 1px #8248e0;
}

li.enabled-activation.spellcasting-entry {
    box-shadow: 0 0 3px 1px #8248e0;
}

i.linked-spells-icon {
    padding-left: 3px;
    &.a {
        text-shadow: 0 2px #8cf777;
    }
    &.b {
        text-shadow: 0 2px #64f2ff;
    }
    &.c {
        text-shadow: 0 2px #836ef8;
    }
    &.d {
        text-shadow: 0 2px #fa78fa;
    }
}

.activation-list-item {
    display: flex;
    gap: 1em;
    margin-left: 2px;
    align-items: center;

    .pf2e-item-activation-link.item-image {
        display: flex;
        flex: 0 0 1.5rem;
        height: 1.5rem;
        position: relative;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        font-size: var(--font-size-18);

        &.framed {
            --inset-shadow-length: 0.25rem;
            border: none;
            border-radius: 2px;
            box-shadow:
                0 0 0 1px var(--tertiary),
                0 0 0 2px #9f725b,
                inset 0 0 var(--inset-shadow-length) rgba(0, 0, 0, 0.5);
            background-color: var(--tertiary);
        }
    }
}
